
@model PagedList.IPagedList<Models.EF.ROOM>
@using PagedList.Mvc


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
<div class="row" style="align-items:center; margin-bottom : 2%">
    <div class="col-lg-2" style="margin-left:15%">
        <input type="text" name="price" maxlength="10" value="@ViewBag.Price" placeholder="Giá phòng" />
    </div>
    <div class="col-lg-2" style="margin-left:2%">
        <input type="text" name="location" maxlength="15" value="@ViewBag.Location" placeholder="Địa điểm" />
    </div>
    <div class="col-lg-2" style="margin-left:2%">
        <input type="text" name="typeRoom"  value="@ViewBag.TypeRoom" placeholder="Loại phòng" />
    </div>
    <div class="col-lg-2">
        <button type="submit" class="btn btn-info btn-sm">Tìm kiếm</button>
    </div>
    <div class="col-lg-4">

    </div>
</div>
}

<table class="table">
    <tr>
        <th>
            Tên phòng
        </th>
        <th>
           Loại phòng
        </th>

        <th>
            Giá
        </th>
        <th>
            Địa điểm
        </th>

        <th>
           Trạng thái
        </th>

        <th>#</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EMPLOYER.fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TYPEROOM.name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
<div class=row, style="margin-left:60px">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @price = ViewBag.Price , @location = ViewBag.Location, @typeRoom = ViewBag.TypeRoom}))
</div>
